flask
flask-cors
strawberry-graphql
dataclasses-json
imagesize
av
pycocotools
numpy
pandas
matplotlib
seaborn
opencv-python
pillow
scipy
scikit-image
scikit-learn
SimpleITK
nibabel
PyYAML
tqdm
submitit
tensorboard
tensordict
iopath
hydra-core
omegaconf
